html {
  scroll-behavior: smooth;
}

body {
  position:relative;
  font-size: 15px;
  line-height: 1.4;
  background-color: black;
  font-family: 'Source Code Pro', monospace;
  overflow-y: hidden;
  overflow-x: hidden;
}

.phone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  height:98vh;
  background-color: white;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color:#F15A24;
  text-decoration: underline;
}
h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}
h2 {
  position: absolute;
  color: #F15A24;
  font-size: 35px;
  font-weight: 700;
  z-index: 20;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow : 0px 0px 25px #FFFFFF;
}
.titl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
}
.head {
  display: visible;
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  background-color: white;
  width: 460px;
  margin-bottom: 20px;
}


.container {
  position: relative;
  background-color: black;
  margin: 20px;
  padding-bottom: 30px;
}

.square {
  display:inline-block;
  position: relative;
  margin: 20px;
  margin-bottom: 0px;
  overflow: hidden;
  text-align: center;
}
.square:hover .titl {
  visibility: visible;
  opacity: 1;
}
.square:hover .blu {
  filter: blur(10px) brightness(1.5);
}

img {
  width: 100%;
  height: auto;
  margin: 0px;
}
.blu {
  filter: blur(0px) brightness(1);
  width: 100%;
  height: auto;
  margin: 0px;
  transition: filter 0.2s;
}


orange: F15A24
pink: D4145A
light orange: FBB03B
yellow: D9E021
green: 8CC63F


.phone::-webkit-scrollbar-track
{
	background-color: #white;
  border: 2px solid black;
}

.phone::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
  border: 1px solid black;
}

.phone::-webkit-scrollbar-thumb
{
	background-color: #000000;
}



@media only screen and (max-width: 500px) {

.phone, body {
  margin: 0;
  padding: 0;
}
.phone {
  height: 100vh;
  width: 100vw;
}
.head {
  width: 90vw;
}


}
