html {
  scroll-behavior: smooth;
}

body {
  position:relative;
  font-size: 15px;
  line-height: 1.4;
  background-color: black;
  font-family: 'Source Code Pro', monospace;
  overflow-y: hidden;
  overflow-x: hidden;
}

.phone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  height:98vh;
  background-color: white;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

p {
  font-weight: 400;
}
a {
  color:#F15A24;
  text-decoration: underline;
}
h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}
h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
}
.head {
  display: visible;
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  background-color: white;
  width: 460px;
  margin-bottom: 20px;
}


.container {
  position: relative;
  background-color: white;
  margin: 20px;
}

.square {
  display:inline-block;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  margin: 0px;
}


orange: F15A24
pink: D4145A
light orange: FBB03B
yellow: D9E021
green: 8CC63F


.phone::-webkit-scrollbar-track
{
	background-color: #white;
  border: 2px solid black;
}

.phone::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
  border: 1px solid black;
}

.phone::-webkit-scrollbar-thumb
{
	background-color: #000000;
}



@media only screen and (max-width: 500px) {

.phone, body {
  margin: 0;
  padding: 0;
}
.phone {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  height: 100vh;
  width: 100vw;
}



}
